@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte1: verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
      }
      

* {
    margin: 0px;
    padding: 0px;
}

#corpo {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgrey;
}

#cabecalho {
    background-color: black;
    color: white;
    text-align: center;
}
 
.titulo {
    font-size: 10vw;
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}

.paragrafo_cabecalho {
    padding-bottom: 50px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

.container_normal {
    background-color: white;
    color: black;
}

.container_imagem {
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.637);
    background-color: rgb(58, 58, 58);
    color: white;
    background-attachment: fixed;
}

.paragrafo_imagem {
    text-shadow: 1.5px 1.5px 0px black;
    display: inline-block;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.555);
}

section > p {
    padding-bottom: 2em;
}

#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url(../imagens/background002.jpg);
}

#rodape {
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
}